.Header {
  margin-left: 5px;
  margin-right: 5px;
  border-bottom: 1px solid black;
  padding-top: 10px;
  padding-bottom: 15px;
}

.Header__logo {
  color: black;
  vertical-align: top;
  display: inline-block;
  font-family: 'Caveat', cursive;
  font-size: 25px;
  line-height: 20px;
}

.Header__link {
  color: black;
  margin-top: 10px;
  vertical-align: top;
  display: inline-block;
  font-weight: 800;
  font-family: 'Montserrat';
  background: none;
  border: none;
  float: right;
  font-size: 20px;
}